spring:
  datasource:
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:assignment_db}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        batch_size: 1000
        order_inserts: true
        order_updates: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${PORT:8080}
