spring:
  application:
    name: delta-ingestion-service

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        batch_size: 1000
        order_inserts: true
        order_updates: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
